.App{
  padding: 20px 50px;
}
.col{
  width: 50%;
  border-bottom: 1px solid black;
}
.col h2{
  text-align: center;
}
.movie-card{
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #1b2838;
  padding: 10px 10px;
  margin-bottom: 5px;
}
.btn{
  border-radius: 30px;
  border: none;
}
.btn-add{
  background-color: chartreuse;
  border: 1px solid chartreuse;
}
.btn-add:hover{
  background-color: #fff;
  color: chartreuse;
}

.btn-del{
  background-color: crimson;
  border: 1px solid crimson;
}
.btn-del:hover{
  background-color: #fff;
  color: crimson;
}
