.App{
  padding: 20px 50px;
}
.col{
  border-bottom: 3px dashed chartreuse;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
 h1{
  text-align: center;
}
.fav-col{
  display: flex;
  flex-direction: column;
}
.movie-card{
  width: 40%;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #1b2838;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 10px 0;
}
.movie-card:hover{
  transform: scale(1.05);
  transition: transform 450ms;
}
.btn{
  border-radius: 30px;
  border: none;
}
.btn-add{
  background-color: chartreuse;
  border: 1px solid chartreuse;
}
.btn-add:hover{
  background-color: #fff;
  color: chartreuse;
}

.btn-del{
  background-color: crimson;
  border: 1px solid crimson;
}
.btn-del:hover{
  background-color: #fff;
  color: crimson;
}
a{
  display: inline-block;
  padding: 10px 20px;
  background-color: #2c3f57;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  margin: auto;
  margin-bottom: 20px;
}
.actors{
  color: gray;
  font-size: smaller;
}