.App{
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.col{
  width: 50%;
}
.col h2{
  text-align: center;
}
.movie-card{
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #1b2838;
  padding: 10px 10px;
  margin-bottom: 5px;
}